# Google OAuth Client ID
# Get this from https://console.cloud.google.com/apis/credentials
# VITE_GOOGLE_CLIENT_ID=272219578810-9cdf6bpdq91je9rmd40smjmf985rvuil.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=1092921031209-laqqv68agbe8tc4gedthebi9aem2igsu.apps.googleusercontent.com

# Backend API URL
VITE_API_URL=http://localhost:5000/api

# Cookie Consent Management (CMP) SDK
VITE_COOKIE_APP_ID=main-website
VITE_COOKIE_TENANT_ID=Harin The great

